---
interface Props {
  blog: {
    title: string;
    link?: string;
    description?: string;
    avatar?: string;
    rss?: string;
  };
}

const { blog } = Astro.props;
---

<div class="block rounded bg-gray-100 p-4 hover:shadow-md transition-shadow">
  <div class="flex">
    {
      blog.avatar && (
        <img
          class="w-12 h-12 rounded-full mr-4"
          src={blog.avatar}
          alt={blog.title}
        />
      )
    }
    <div>
      <div class="inline-flex items-center gap-x-2 flex-wrap">
        <a class="font-bold no-underline" href={blog.link} target="_blank">
          {blog.title}
        </a>
        {
          blog.rss && (
            <a class="i-ri-rss-line" href={blog.rss} target="_blank" />
          )
        }
      </div>
      <div class="text-sm">{blog.description}</div>
    </div>
  </div>
  <slot />
</div>
